@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
@import "variables";

* {
  font-size: 20px;
}

/* I/ HEADER */

.Icon-and-title {
  .fa-solid {
    color: black;
    position: absolute;
    top: 3%;
    left: 6.5%;
    font-size: 1rem;
  }
}

h1 {
  margin-bottom: 0.4rem;
}

img {
  max-width: 100%;
  width: 100%;
}

/*II MAIN*/

main {
  background: $color-box;
  margin-top: -25%;
  position: relative;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 5rem;

  section {
    h3 {
      color: #4b4b4b;
      position: relative;
      padding-bottom: 0.25rem;
      font-weight: 400;
      font-size: 0.85rem;
      margin-bottom: 5%;
      padding-bottom: 0.5rem;

      &::after {
        /*pour crée un pseudo-élément qui sera le dernier enfant de l'élément sélectionné. */
        content: ""; /*chaîne de caractère vide*/
        width: 2rem;
        height: 0.15rem;
        background-color: $tertiary;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}

.restaurant-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 10%;

  h2 {
    font-family: "Shrikhand";
    font-size: 1.4rem;
  }

  i {
    font-size: 1.5rem;
  }
  .heart-icon {
    padding: 0.25rem;
    font-size: 1.6rem;
    margin-right: 0.75rem;

    .fa-solid {
      color: transparent;
      position: absolute;
      opacity: 0; /* pour rendre visible le coeur rose si et seulement si on click sur l'icon */
      margin-top: 0.035rem;
      margin-left: 0.035rem;
      transition: 0.01s; /*temps pour le coeur rose d'apparaitre*/
      background: linear-gradient($primary, $secondary);
      background-clip: text; /*on met le background pour ne pas faire un carré rose mais un coeur*/
    }
    input {
      /* pour laisser le coeur rose en place avoir clické dessus */
      position: absolute;
      z-index: 10;
      width: 2rem;
      height: 2rem;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .fa-regular {
        /*coeur rose*/
        transition-duration: 0.5s;
        opacity: 0;
      }

      &:checked ~ .fa-solid {
        /*coeur blanc*/
        transition-duration: 0.5s;
        opacity: 1;
      }
    }
  }
}

/* B/ MINI CARTES ENTRÉES, PLATS, DESSERTS */

.restaurant-dishes,
.restaurant-desserts {
  margin-top: 2rem;
}

.restaurant-minicard {
  display: flex;
  background-color: $color-box;
  justify-content: flex-end;
  margin-bottom: 0.75rem;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: $color-box__shadow;
  opacity: 0;
  animation: selection 1.6s forwards;
  height: auto;

  input {
    appearance: none;
    width: 92%; /*pour qu'il ne s'active pas si on clique en dehors de la box*/
    height: /*5.1rem*/ 3.5rem;
    border-radius: 1rem;
    position: absolute;
    left: 3.5%;
    cursor: pointer;
  }

  .restaurant-minicard-description {
    width: 100%;
    white-space: nowrap; /*utiliser pour décrire la façon dont les blancs sont gérés au sein de l'élément.*/
    text-overflow: ellipsis;
    overflow: hidden;

    h4 {
      margin-left: 5%;
      text-overflow: ellipsis; /* pour le ... lorsque le texte ne peux pas tout afficher*/
      overflow: hidden; /*combiné avec le hidden pour ...*/
      margin-bottom: 0;
      font-weight: bold;
      font-size: 0.9rem;
      padding-top: 0.75rem;
      padding-bottom: 0.5rem;
    }

    p {
      margin-left: 5%;
      font-size: 0.75rem;
      margin-bottom: 0.5rem;
    }
  }

  .restaurant-minicard-price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.75rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    font-size: 0.75rem;
  }

  .icon {
    width: 5rem;
    margin-right: -5rem;
    background-color: $tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $color-box;
    transition-duration: 0.6s;

    i {
      transition-duration: 0.6s;
    }
  }
}

button {
  /*penser à le placer dans un nouveau fichier css car quasi identique au button du fichier style.css et faire des imports*/
  border-radius: 1.5rem;
  background: linear-gradient($secondary, $primary);
  color: $color-box;
  border: none;
  box-shadow: $color-box__shadow;
  font-size: 0.8rem;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
    /* brightness va rendre le bouton plus claire lorsqu'on passe par dessus 10% de plus*/
    box-shadow: $color-box__shadow;
  }

  /*rajout par rapport à style.css*/
  align-self: center;
  margin-top: 10%;
  width: 55%;
  padding: 18px 0 18px 0;
}

/*ANIMATION*/

.restaurant-minicard-animation-1 {
  animation-delay: 0s; /*définit la durée d'attente avant de démarrer une animation une fois qu'elle a été appliquée à un élément.*/
}

.restaurant-minicard-animation-2 {
  animation-delay: 0.2s;
}

.restaurant-minicard-animation-3 {
  animation-delay: 0.4s;
}

.restaurant-minicard-animation-4 {
  animation-delay: 0.6s;
}

.restaurant-minicard-animation-5 {
  animation-delay: 0.8s;
}

.restaurant-minicard-animation-6 {
  animation-delay: 1s;
}

.restaurant-minicard-animation-7 {
  animation-delay: 1.2s;
}

.restaurant-minicard-animation-8 {
  animation-delay: 1.4s;
}

.restaurant-minicard-animation-9 {
  animation-delay: 1.6s;
}

.restaurant-minicard-animation-10 {
  animation-delay: 1.8s;
}

@keyframes selection {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input:checked ~ .icon {
  margin-right: 0;
  transition-duration: 0.3s;

  i {
    transform: rotate(360deg);
    transition-duration: 0.3s;
  }
}
