@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
* {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: Shrikhand;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%; /*position de l'image par rapport à la maquette*/
}

/* I/ HEADER */
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10%;
}
header h1 {
  font-size: 1.5rem;
  text-align: center;
}
header .location {
  display: flex;
  align-items: center;
  background-color: #e8e3e3;
  justify-content: center;
  font-size: 0.9rem;
  box-shadow: inset 0px 0.25rem 0.25rem -0.25rem #a5a2a2;
  color: #4b4b4b;
  font-weight: bold;
}
header .location input {
  text-align: center;
  width: 6rem;
  border: none;
  background: transparent;
  padding: 0.75rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0.4rem;
  font-weight: bold;
  font-size: 0.8rem;
}
header .location input::-moz-placeholder {
  color: #343333;
  text-align: center;
}
header .location input:-ms-input-placeholder {
  color: #343333;
  text-align: center;
}
header .location input::placeholder {
  color: #343333;
  text-align: center;
}
header .reservation-and-explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 1.5rem 1.75rem 3rem 1.75rem;
}
header .reservation-and-explore h2 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5%;
  margin-top: 2%;
}
header .reservation-and-explore p {
  font-size: 0.88rem;
  text-align: center;
  margin-bottom: 10%;
  color: #504e4e;
}
header .reservation-and-explore button {
  width: 75%;
  padding: 0.75rem 0 0.75rem 0;
  border-radius: 1.5rem;
  background: linear-gradient(#ff79da, #9356dc);
  color: #f6f6f6;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;
  cursor: pointer;
}
header .reservation-and-explore button:hover {
  filter: brightness(1.1);
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.45);
}

/* II/ MAIN */
.function {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  margin-bottom: 5%;
}
.function h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.function div {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem 0.75rem 1rem 0px;
  border-radius: 1.25rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.function div:hover {
  background-color: #f5edff;
}
.function div i {
  padding: 0 0.5rem 0 0.5rem;
  margin-left: 0.75rem;
  color: #4b4b4b;
}
.function div:hover i {
  color: #9356dc;
}
.function div p {
  margin-left: 1rem;
  font-size: 0.7rem;
}
.function div .numbers {
  background-color: #9356dc;
  padding: 0.25rem 0.35rem 0.25rem 0.35rem;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin-left: -0.5rem;
  font-size: 0.5rem;
}

.restaurants-list {
  background-color: #f6f6f6;
  padding-bottom: 10%;
}
.restaurants-list h2 {
  font-size: large;
  font-weight: bold;
  margin-bottom: 6%;
  margin-top: 10%;
}
.restaurants-list h3 {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  margin: 0 0 0 0.4rem;
  font-weight: bold;
  font-size: 0.9rem;
}
.restaurants-list p {
  padding: 0.35rem 0.35rem 0.35rem 0.35rem;
  margin: 0 0 0 0.25rem;
  font-size: 0.85rem;
}
.restaurants-list .restaurant-card {
  margin: 0px auto;
  background-color: #f6f6f6;
  box-shadow: 0px 0.25rem 1rem #999;
  border-radius: 0.75rem;
  margin-bottom: 5%;
  overflow: hidden;
  position: relative;
}
.restaurants-list .restaurant-card .restaurant-card-new {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  z-index: 3;
  background-color: #99e2d0;
  color: #30a386;
  font-weight: bold;
  border-radius: 0.1rem;
  padding: 0.05rem 0.15rem 0.05rem 0rem;
}
.restaurants-list .restaurant-card .restaurant-card-new p {
  font-size: 0.7rem;
}
.restaurants-list .restaurant-card-image {
  height: 8.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.restaurants-list img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurants-list .restaurant-card-body {
  display: flex;
  height: 3.5rem;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.restaurants-list .fa-solid {
  color: transparent;
  overflow: hidden;
  position: absolute;
  opacity: 0; /* pour rendre visible le coeur rose si et seulement si on click sur l'icon */
  margin-top: 0.035rem;
  margin-left: 0.035rem;
  transition: 0.3s; /*temps pour le coeur rose d'apparaitre*/
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text; /*on met le background pour ne pas faire un carré rose mais un coeur*/
}
.restaurants-list .restaurant-card-icon {
  padding: 0px 0.25rem 0.5rem 0.25rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  position: relative;
}
.restaurants-list .restaurant-card-icon input {
  /* pour laisser le coeur rose en place avoir clické dessus */
  position: absolute;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.restaurants-list .restaurant-card-icon input:checked ~ .fa-regular {
  transition-duration: 0.5s;
  opacity: 0;
}
.restaurants-list .restaurant-card-icon input:checked ~ .fa-solid {
  transition-duration: 0.5s;
  opacity: 1;
}

/* III/ FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  line-height: 1.25rem;
}
footer h2 {
  color: #f6f6f6;
  font-size: 0.8rem;
  font-family: Shrikhand;
  padding-top: 5%;
  padding-bottom: 5%;
}
footer div {
  margin-left: 1rem;
}
footer i {
  margin-right: 0.25rem;
}
footer a {
  color: #f6f6f6;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */