$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$color-none: black;
$police_shrikhand: Shrikhand;
$police_roboto: Roboto;
$color-box: #f6f6f6;
$color-box__shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
